@media only screen and (min-width: 360px) {
  .ueberschrift_zertifikate {
    background-color: lightblue;
    font-size: 17px;
    color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: 80px;

  }

  .container_zertifikate {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .Zertifikat1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Zertifikat_R {
    width: 340px;
    border-radius: 20px;
  }
  
  .Zertifikat2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Zertifikat_P {
    width: 340px;
    border-radius: 20px;
  }
  

}