@media only screen and (min-width: 360px) {
  .first_page {
    margin-top: 70px;
  }
  
  .ueberschrift_home {
    background-color: #dfcdbd;
    font-size: 17px;
    color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 4px;
  }

  .home_photo_info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 10px;
  }

  .text_about_me {
    height: 200px;
    color: black;
  }
  
  .text {
    border-radius: 10px;
    display: flex;
    text-align: justify;
    background-color: #eceaf6;
    padding: 5px;
  }
  
  .story {
    color: black;
  }

  .test_photo {
   height: 300px;
   border-radius: 10px;
  }
  
  .photo {
    display: flex;
    justify-content: center;
  }


}