@media only screen and (min-width: 1200px) {
  .first_page {
    margin-top: 100px;
  }
  
  .ueberschrift_home {
    background-color: #dfcdbd;
    font-size: 19px;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 50px;
    margin-left: 180px;
    margin-right: 180px;
  }

  .home_photo_info {
    display: grid;
    grid-template-columns: 2fr 200px;
    column-gap: 10px;
  }
  
  .text {
    border-radius: 10px;
    display: flex;
    text-align: justify;
    background-color: #eceaf6;
    padding: 5px;
    margin-left: 30px;
  }
  
  .story {
    color: black;
  }

  .test_photo {
   height: 350px;
   border-radius: 10px;
  }
  
  .photo {
    display: flex;
    justify-content: center;
  }


}

@media only screen and (min-width: 1500px) {
  .first_page {
    margin-top: 100px;
  }
  
  .ueberschrift_home {
    background-color: #dfcdbd;
    font-size: 21px;
    height: 45px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 50px;
    margin-left: 180px;
    margin-right: 180px;
  }

  .home_photo_info {
    display: grid;
    grid-template-columns: 2fr 300px;
    column-gap: 10px;
  }
  
  .text {
    border-radius: 10px;
    display: flex;
    text-align: justify;
    background-color: #eceaf6;
    padding: 5px;
    margin-left: 70px;
  }
  
  .story {
    color: black;
  }

  .test_photo {
   height: 450px;
   border-radius: 10px;
  }
  
  .photo {
    display: flex;
    justify-content: center;
  }


}