@media only screen and (min-width: 760px) {
  .ueberschrift_zertifikate {
    background-color: #dfcdbd;
    font-size: 18px;
    color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: 80px;

  }
  
  .container_zertifikate {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .Zertifikat1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Zertifikat_R {
    width: 350px;
    border-radius: 20px;
  }
  
  .Zertifikat2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Zertifikat_P {
    width: 350px;
    border-radius: 20px;
  }
}

@media only screen and (min-width: 1000px) {
  .ueberschrift_zertifikate {
    background-color: #dfcdbd;
    font-size: 18px;
    color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: 310px;

  }
  
  .container_zertifikate {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .Zertifikat1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Zertifikat_R {
    width: 450px;
    border-radius: 20px;
  }
  
  .Zertifikat2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Zertifikat_P {
    width: 450px;
    border-radius: 20px;
  }
}